In [21]:
import pandas as pd
import re

In [22]:
df = pd.read_excel('skill_data.xlsx')
# df

In [23]:
web_devloper_skills = [
    'django',
    'html',
    'css',
    'nodejs',
    'reactjs',
    'flask',
    'laravel'
]
machine_learning_skills = [
    'nosql',
    'pandas',
    'numpy',
    'matpotlib',
    'seabron',
    'scipy'
]

In [24]:
skill=[]
for i in df['Skills']:
    match = re.findall(r"'(.+?)'",i)
    skill.append(list(set(match)))

In [25]:
desig = []
for i in skill:
    scol = []
    w=0
    m=0
    for j in i:
        if j in web_devloper_skills:
            w+=1
        if j in machine_learning_skills:
            m+=1
    if w>=3 and m>=3:
        scol.append('Web Developer')
        scol.append('Machine Learning')
    elif w>=3:
        scol.append('Web Developer')
    elif m>=3:
        scol.append('Machine Learning')
    else:
        scol.append('Not Eligible')
    desig.append(scol)

In [26]:
df.insert(2, "Designation",desig, True)

In [27]:
totalSkills=[]
for i in skill:
    totalSkills += i

In [28]:
df2 = {'Name': '', 'Skills': 'Total unique skills: ' + str(len(list(set(totalSkills)))) , 'Designation': ''}
df = df.append(df2, ignore_index = True)

In [29]:
df

,Name,Skills,Designation
0,Maurice Valdez,"['reactjs', 'django', 'numpy', 'nodejs', 'html']",[Web Developer]
1,Samuel Green,"['laravel', 'css', 'laravel']",[Not Eligible]
2,Michael Rodgers,"['css', 'reactjs', 'flask', 'nodejs', 'nodejs']",[Web Developer]
3,Lindsey Leach,"['nodejs', 'html', 'html', 'reactjs']",[Web Developer]
4,Kimberly Hartman,"['matpotlib', 'nosql']",[Not Eligible]
5,Benjamin Garcia,"['numpy', 'scipy', 'matpotlib', 'nosql', 'node...",[Machine Learning]
6,Ernest Brown,"['scipy', 'pandas', 'nodejs']",[Not Eligible]
7,Stephen Evans Jr.,"['seabron', 'laravel', 'nodejs', 'css', 'nosql']",[Web Developer]
8,Alan Rodriguez,"['reactjs', 'nodejs', 'nodejs', 'nosql']",[Not Eligible]
9,Emily Barnes,"['html', 'html', 'matpotlib', 'laravel', 'css'...",[Web Developer]
10,Christopher Kline,"['laravel', 'html', 'html', 'nodejs', 'nodejs']",[Web Developer]
11,Melissa Greer,"['flask', 'seabron', 'scipy']",[Not Eligible]
12,Paul Evans,"['nodejs', 'nosql', 'laravel']",[Not Eligible]
13,Lisa Perry,"['django', 'numpy', 'scipy', 'html']",[Not Eligible]
14,Wendy Torres,"['flask', 'reactjs', 'pandas', 'scipy', 'matpo...",[Machine Learning]
15,Todd Patterson,"['nodejs', 'pandas']",[Not Eligible]
16,Aaron Mercado,"['flask', 'nodejs', 'css', 'numpy', 'django', ...",[Web Developer]
17,Patrick Camacho,"['nodejs', 'matpotlib', 'html', 'matpotlib']",[Not Eligible]
18,Aaron Sherman,"['seabron', 'nodejs', 'scipy', 'nodejs', 'html...",[Web Developer]
19,Gwendolyn Pearson,"['pandas', 'seabron', 'flask']",[Not Eligible]
20,Tiffany Johnson MD,"['nodejs', 'flask', 'scipy', 'pandas']",[Not Eligible]
21,Leah Rowland,"['css', 'nodejs', 'flask', 'nosql', 'reactjs']",[Web Developer]
22,Dana May,"['nodejs', 'pandas']",[Not Eligible]
23,Cynthia Salazar,"['reactjs', 'nodejs', 'django']",[Web Developer]
24,Derek Adams,"['laravel', 'matpotlib', 'scipy', 'reactjs', '...",[Machine Learning]
25,Miranda Garcia,"['pandas', 'laravel']",[Not Eligible]
26,Elizabeth Jones,"['nodejs', 'laravel', 'css', 'reactjs', 'nosql...",[Web Developer]
27,Brandi Wilson,"['nosql', 'matpotlib', 'matpotlib', 'django', ...",[Not Eligible]
28,James Stanton,"['reactjs', 'flask', 'matpotlib', 'django', 'c...",[Web Developer]
29,James Parker,"['html', 'nodejs']",[Not Eligible]
30,Stephen Wilson,"['numpy', 'scipy', 'nodejs', 'numpy', 'css', '...",[Not Eligible]
31,Mitchell Watson,"['matpotlib', 'nosql']",[Not Eligible]
32,Allison White,"['nosql', 'css']",[Not Eligible]
33,Linda Williams,"['nodejs', 'flask', 'scipy', 'matpotlib', 'nod...",[Not Eligible]
34,Joseph Herrera,"['numpy', 'nodejs', 'flask', 'nosql', 'nodejs']",[Not Eligible]
35,Kelly Hurley,"['matpotlib', 'seabron', 'nodejs', 'matpotlib'...",[Not Eligible]
36,John Preston,"['reactjs', 'pandas', 'html', 'flask']",[Web Developer]
37,Jacob Lopez,"['seabron', 'nodejs', 'pandas', 'nosql']",[Machine Learning]
38,Debbie Jensen,"['numpy', 'reactjs']",[Not Eligible]
39,Paula Alvarez,"['nosql', 'reactjs', 'matpotlib', 'laravel']",[Not Eligible]
40,Nathan Flores,"['seabron', 'html', 'numpy']",[Not Eligible]
41,Amanda Wright,"['html', 'html', 'css', 'nodejs', 'seabron', '...",[Web Developer]
42,Craig Franklin MD,"['css', 'nodejs', 'django', 'nodejs', 'matpotl...",[Web Developer]
43,Michelle Blanchard,"['numpy', 'numpy', 'seabron']",[Not Eligible]
44,Phillip Moss,"['nodejs', 'css']",[Not Eligible]
45,Jennifer Patrick,"['django', 'nodejs']",[Not Eligible]
46,Melvin Dominguez,"['laravel', 'css']",[Not Eligible]
47,Christina Willis,"['laravel', 'nodejs', 'nosql', 'django', 'matp...",[Web Developer]
48,Alexander Mueller,"['scipy', 'nosql', 'css', 'laravel', 'laravel']",[Not Eligible]
49,Jessica Johnson,"['nosql', 'html', 'css', 'scipy']",[Not Eligible]
50,,Total unique skills: 13,

In [32]:
writer = pd.ExcelWriter('output.xlsx')
writer.save()